$iconColor: #333;

// ハンバーガーボタンのスタイル
.hamburgerIcon {
  position: absolute;
  right: 0;
  top: 0;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  margin:2em 1em;
  padding: 0;
  z-index: 99;
  
  // ハンバーガーボタンのバーのスタイル
  .bar {
    position: relative;
    width: 100%;
    height: 4px;
    background-color: $iconColor;
    transition: all 0.3s ease;
  }

  .menuText {
    position: relative;
    margin: 0 auto;
    font-size: 0.5rem;
    font-weight: 600;
    color: $iconColor;
    transition: all 0.3s ease;
    text-transform: uppercase;
  }
  
  // ハンバーガーアイコンが開いたときのスタイル
  &.open {
    .bar:first-child {
      transform: rotate(45deg) translateX(5.3px) translateY(5.3px);
    }
    .bar:last-child {
      transform: rotate(-45deg) translateX(5.3px) translateY(-5.3px);
    }
  }
}

// メニューのスタイル
.menu {
  background-color: #fff;
  border: 1px solid #ccc;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  font-size: 1.3em;
  transform: translateX(100%);
  transition: transform .4s ease;
  z-index: 80;
  
  // メニューが開いたときのスタイル
  &.open {
    transform: translateX(0%);
  }
  
  // メニューのリストアイテムのスタイル
  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    button {
      margin: 20px 20vw;
      padding: 0;
      background-color: #d6d6d6;
      border-style: none;

      &.active {
        background-color: #007bff;
        color: #fff;
      }

      li {
        padding: 20px 0;
        font-size: 250%;
        font-weight: 700;
        cursor: pointer;
      }
      
      &:hover {
        border-style: none;
        background-color: #f0f0f0;
        color: rgb(30, 230, 40);
        transition: all 0.2s;
      }
    }
  }
}